@using rizemetroturizmDemo.Models.Entity
@model List<personal>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/_MainLayout.cshtml";
}

<table class="table table-bordered text-center">
    <tr>
        <th>SIRA NO</th>
        <th>T.C. NO</th>
        <th>AD</th>
        <th>SOYAD</th>
        <th>DOĞUM TARİHİ</th>
        <th>EHLİYET NUMARASI</th>
        <th>DEPARTMAN</th>
        <th>FOTOĞRAF</th>
        <th>PERSONEL DURUMU</th>
        <th>GÜNCELLE</th>
        <th>SİL</th>




    </tr>
    <tbody>
        @foreach (var personal in Model)
        {
        <tr>
            <td>@personal.personalId</td>
            <td>@personal.identityNumber</td>
            <td>@personal.firstName</td>
            <td>@personal.lastName</td>
            <td>@personal.birthDate</td>
            <td>@personal.drivingLicenceNumber</td>
            <td>@personal.departments.departmentName</td>
            <td>@personal.personalImage</td>
            <td>@personal.personalStatus</td>
            <td><button class="btn btn-success">GÜNCELLE</button></td>
            <td><button class="btn btn-danger">SİL</button></td>

        </tr>
        }
    </tbody>
</table>


