@using rizeMetroTurizmMvc.Models.Entity
@model List<bus>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">

    <tr>
        <th>OTOBÜS ID</th>
        <th>OTOBÜS PLAKA</th>
        <th>OTOBÜS MARKA</th>
        <th>OTOBÜS MODEL</th>
        <th>OTOBÜS YIL</th>
        <th>OTOBÜS KOLTUK SAYISI</th>
        <th>OTOBÜS SORUMLUSU</th>
        <th>OTOBÜS RESMİ</th>
        <th>GÜNCELLE</th>
        <th>SİL</th>
    </tr>
    <tbody>
        @foreach (var bus in Model)
        {
        <tr>
            <td>@bus.busId</td>
            <td>@bus.busNumber</td>
            <td>@bus.busBrand</td>
            <td>@bus.busModel</td>
            <td>@bus.busYear</td>
            <td>@bus.busNumberOfSeats</td>
            <td>@bus.busPersonal1</td>
            <td>@bus.busImage</td>
            <td><a href="~/Views/Bus/Update/@bus.busId" class="btn btn-success">GÜNCELLE</a></td>
            <td><a href="~/Views/Bus/Delete/@bus.busId" class="btn btn-danger">SİL</a></td>
        </tr>
        }
    </tbody>
</table>
<a href="~/Views/Bus/AddBus/"class="btn btn-primary">YENİ OTOBÜS EKLE</a>

