@using MvcProject.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<sales>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/_MainLayout.cshtml";
}

<h2 class="text-center">SATIŞLAR</h2>

<table class="table table-bordered text-center">
    <tr>
        <th class="text-center">SIRA NO</th>
        <th class="text-center">ÜRÜN</th>
        <th class="text-center">MÜŞTERİ</th>
        <th class="text-center">ADET</th>
        <th class="text-center">FİYAT</th>
        <th class="text-center">GÜNCELLE</th>
        <th class="text-center">SİL</th>
    </tr>

    @foreach (var sales in Model)
    {
        <tr>
            <th class="text-center">@sales.salesId</th>
            <th class="text-center">@sales.product1.productName</th>
            <th class="text-center">@sales.customer1.firstName @sales.customer1.lastName</th>
            <th class="text-center">@sales.piece</th>
            <th class="text-center">@sales.unitPrice</th>
            <th class="text-center"><a href="/Sales/Update/@sales.salesId" class="btn btn-primary">GÜNCELLE</a></th>
            <th class="text-center"><a href="/Sales/Delete/@sales.salesId" class="btn btn-danger">SİL</a></th>

        </tr>

    }
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
<a href="/Sales/AddSales" class="btn btn-primary">Satış Yap</a>